html {
    height: 100%;
}

body {
    background-image: url(../pictures/background_portfolio.jpg);
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#about-header {
    font-size: 2rem;
    font-weight: bold;
    background-color: #e45f56;
    color: beige;
}

.about-header {
    color: #e45f56;
}

.about-background {
    background-color: whitesmoke;
}

.color-btn {
    background-color: #e45f56;
    color: beige;
}

.footer {
    background-color: #404040;
    color: beige;
    border-top: 7px solid #e45f56;
}
@media screen and (max-width: 375px) {
    h1.about-header {
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    a#about-header {
        font-size: 18px;
    }
}


