html {
    height: 100%;
}

body {
    background-image: url(../pictures/background_portfolio.jpg);
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#about-header {
    font-size: 2rem;
}
.victor-img {
    width: 250px;
    height: auto;
}

.about-background {
    background-color: whitesmoke;
}

